@model Biblioteca.Models.LibroXautor

@{
    ViewData["Title"] = "Eliminar Asignacion";
}

<h1>Eliminar</h1>

<h3>Quiere eliminar la asignacion?</h3>
<div>
    <h4>Asignacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorNavigation.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorNavigation.Nombre)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibroNavigation.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibroNavigation.Titulo)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Autor" />
        <input type="hidden" asp-for="Libro" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
