@{
    ViewData["Title"] = "Pagina de Inicio";
}

    <div class="text-center">
        <h1 class="display-4">Biblioteca Web</h1>
        <p>Elaborado Por: <a href="https://github.com/RoyMartinez">Roy Roger Martinez Cano</a>.</p>
        <p>Sistema Web para la prueba de Consulting Group.</p>
    </div>
