@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Pagina Detallada para los terminos de privacidad del sistema.</p>
<p>Elaborado Por: <a href="https://github.com/RoyMartinez">Roy Roger Martinez Cano</a>.</p>
